*{
  margin: 0; 
  border: 0;
  box-sizing: border-box;
}

html, body {
    background-color: #6ea234;
    background-image: url('assets/backgrounds/gamedesign_full_pg.jpg');
    background-size: 65vw;
    background-repeat: no-repeat;
    background-position: center top;
    
    
    width: 100vw;
    height: 320vh;
  }
 
  h1 {
    color: black;
  }

  h2 {
    color: white;
  }

  p {
    color: rgb(255, 255, 255);
  }

  /*
  For the header
  */

  .header{
    width: 100%; 
    height: 100%; 
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

   /*
  For the Nav Bar
  */
  nav{
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
    padding: 1em;
    font-family: 'Bebas Neue', sans-serif;
  }

  nav div{
    display: flex;
    padding: 1em;
    gap: 3em; 
    float: right;
  }

  li {
    display: inline;
    padding: 10;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  a {
    color: #eaeaea;
    text-decoration: none;
    font-size: 1.6vw;
  }

  a.current-page{
    border-bottom: 2px solid #eaeaea;
    padding-bottom: 3px
  }

  .right-image-container {
    text-align: right;
  }
  
  .right-image-nav {
    float: right;
    margin-left: 10px;
    width: 2%; height: auto;
  }

  .center-image-nav {
    margin-left: auto;
    margin-right: auto;
    width: 3%; height: auto;
  }

  .center-image-container {
    text-align: center;
  }

  .header .h1{
    position: relative;
    font-size: 15vw;
    line-height: 1.125;
    padding: 0.01em;
    font-family: 'Bebas Neue', sans-serif;
    color: #ffffff;

  }

  .overlay{
    position: fixed;
    width: 100vw;
    height: 100vh; 
    z-index: 2;
    display: flex;
    pointer-events: none;
  }

  .bar {
    width: 10vw;
    height: 105vh;
    background-color: #1f3505;
  }

  .counter{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 10000;
    color: #ffffff;
    padding: 0.2em 0.4em;
    font-size: 10vw;
    pointer-events: none;
    font-family: 'Bebas Neue', sans-serif;
  }

  section h1{
    font-family: 'Bebas Neue', sans-serif;
    color: #ffffff;
    font-size: 5vw;
  }

  #about{
    padding: 5vw 20vw 5vw 0vw;
    opacity: 0;
  }

  #design{
    padding: 5vw 20vw 5vw 0vw;
    opacity: 0;
  }

  #code{
    padding: 5vw 20vw 5vw 0vw;
    opacity: 0;
  }

